<%- include ../public/header %>

<div class="panel panel-primary">
  <div class="panel-heading"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp;我的用户中心</div>
  <div class="panel-body">
    	<div class="row">
		  	<div class="col-md-3">
		  		<div class="row">
				  <div class="col-md-12">
				    <div class="thumbnail">
				      <img src="images/normal.jpg" alt="avatar" class="img-thumbnail">
				      <div class="caption text-center">
				        <h3><%=loginInfo.username%></h3>
				        <p>积分：<%=loginInfo.points%></p>
				        <p>
				        	加入时间：<%=moment(loginInfo.createtime).format('YYYY年MM月DD日 HH点mm分')%>
				        </p>
				      </div>
				    </div>
				  </div>
				</div>
		  	</div>
			<div class="col-md-6">
				<div class="panel panel-info">
				  <div class="panel-heading"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;我上传过的专辑</div>
				  	<table class="table table-striped table-hover table-bordered">
				  		<thead>
					  	<tr>
					  		<td><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>专辑名</td>
					  		<td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>音乐家</td>
					  		<td><span class="glyphicon glyphicon-time" aria-hidden="true"></span>上传时间</td>
					  		<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>审核状态</td>
					  	</tr>
						</thead>
						<% for(var i =0;i < albums.length;i++){ %>
							<tr> 
							  	<td><%=albums[i].albumname%></td>
							  	<td><%=albums[i].musican%></td>
							  	<td><%=moment(albums[i].createtime).format('YYYY-MM-DD HH:mm:ss')%></td>
							  	<td><%=albums[i].ischeck?'审核通过':'审核中'%></td>
							</tr>
						<%}%>
					</table>
					
				</div>
				<nav class="text-center">
				 <ul class="pagination">
			        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">2</a></li>
			        <li><a href="#">3</a></li>
			        <li><a href="#">4</a></li>
			        <li><a href="#">5</a></li>
			        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
			     </ul>
			     </nav>
			</div>
			<div class="col-md-3">
				<div class="panel panel-info">
				  <div class="panel-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;功能操作区</div>
				  
				  <table class="table table-striped table-hover table-bordered">
					  <thead>
					  <tr>
					  	<td>
					  		在这里您可以查看您所属的会员权利
					  	</td>
					  </tr>
					</thead>
					<tr>
					  	<td>
					  		<a href="#" class="btn btn-info" data-toggle="modal" data-target="#uploadMyAlbum">上传我的专辑</a>
					  	</td>
					 </tr>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadMyAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">上传我的专辑</h4>
      </div>
      <div class="modal-body">
      		<form id="albumUploadForm" class="form-horizontal" action="/UserCenter/AlbumAdd" method="POST">
	          <div class="form-group">
	            <label for="albumName" class="col-sm-3 control-label">专辑名称：</label>
	            <div class="col-sm-7">
	            	<input type="text" name="album[albumname]" class="form-control" id="albumName" placeholder="专辑的名称" />
	        	</div>
	          </div>
	          <div class="form-group">
	            <label for="albumMusican" class="col-sm-3 control-label">音乐家：</label>
	            <div class="col-sm-7">
	            	<input type="text" name="album[musican]" class="form-control" id="albumMusican" placeholder="音乐家的名字" />
				</div>
	          </div>
	          <div class="form-group">
			    <label for="albumPic" class="col-sm-3 control-label">专辑封面：</label>
			    <div class="col-sm-7">
			      <input type="text" name="album[pic]" class="form-control" id="albumPic" placeholder="输入封面地址 如http://">
			    </div>
			  </div>
	        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="btnAlbumUpload" type="button" class="btn btn-primary">发布</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(function(){
		$("#btnAlbumUpload").on("click",function(event){
			if($("#albumName").val()==""){
				alert("专辑名不能为空");
				return;
			}
			if($("#albumMusican").val()==""){
				alert("音乐家不能为空");
				return;
			}

			$("#albumUploadForm").submit();
		});
	});
</script>
<%- include ../public/footer %>
